################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
bin/
obj/
*.user
*.suo
Logs/
Properties/PublishProfiles/
Properties/ServiceDependencies/


/JobAppManagement/JobApplicationsWebAPI/Properties
